<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--每个namespace必须唯一,与对应的全限定类名一致-->
<mapper namespace="online.weiyin.mapper.UserMapper">

<!--    命令的id必须和接口内的方法名一致-->
    <insert id="insertUser">
        insert into t_user value(null,'admin','admin',18,'男','admin@admin.com')
    </insert>
<!--    resultType : 返回值类型，此处使用了配置文件中设置的别名-->
    <select id="selectById" resultType="user">
        select * from t_user where id = 3;
    </select>
</mapper>